<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yukiserv.comのサイトマップ</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8707396742877439"
    crossorigin="anonymous"></script>
</head>
<body style="margin-left: 5%;">
    <h1>yukiserv.comの関連サイト</h1>
    <hr/>
    <h2><a href="https://scf.yukiserv.com">【最適グラボ】</a></h2>
    <h3>概要</h3>
    <p>使いたいアプリ名からグラフィックカードを検索します。</p>
    <h3>URL</h3>
    <p>https://scf.yukiserv.com</p>
    <h3>関連SNS</h3>
    <ul>
        <li>
            <a href="https://twitter.com/SaitekiGurabo">Twitter</a>
        </li>
    </ul>
    <hr/>
    <h2><a href="https://omotya.yukiserv.com">【心理テストおもちゃ箱】</a></h2>
    <h3>概要</h3>
    <p>有志で集まった心理テストが遊べるサイト</p>
    <p>オリジナルの心理テストも作れるぞ！</p>
    <h3>URL</h3>
    <p>https://omotya.yukiserv.com</p>
    <hr/>
    <h2><a href="https://portfolio.yukiserv.com">【ポートフォリオサイト】</a></h2>
    <h3>概要</h3>
    <p>私、岩井優希のポートフォリオサイトです。</p>
    <h3>URL</h3>
    <p>https://portfolio.yukiserv.com</p>
</body>
</html>