{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP</title>
</head>
<body>
    <p>アプリ名</p>
    <input type="text" id="appname"/>
    <p>CPU</p>
    <input type="text" id="cpu"/>
    <p></p>
    <button onclick="getgbfmapp()">submit</button>
    <table>
        <tbody id="result">
            <tr id="thtr">
                <th>グラボ</th>
            </tr>
        </tbody>
    </table>
    <script>
        const appnameEl = document.getElementById('appname');
        const resulttable = document.getElementById('result');
        const tabletitle = document.getElementById('thtr');
        function maketable(data) {
            while (resulttable.hasChildNodes()) {
                resulttable.removeChild(resulttable.firstChild);
            }
            resulttable.appendChild(tabletitle);
            const grabolist = data["gra_list"];
            
            for (let i = 0; i < grabolist.length ; i++){
                let atr = document.createElement("tr");
                let adatael = document.createElement("td");

                let aael = document.createElement("a");
                aael.innerText = grabolist[i]["name"];
                aael.setAttribute("href",grabolist[i]["url"]);
                aael.setAttribute("target","_blank");
                aael.setAttribute("rel","noopener noreferrer");
                adatael.appendChild(aael);
                atr.appendChild(adatael);
                resulttable.appendChild(atr);
            }
            
        }
        async function getgbfmapp() {
            /* get graphics board from appname */
            const appname = appnameEl.value;
            console.log(appname)
            fetch("{% url 'devicesearch:appsatgra' %}?appname="+appname)
            .then(res=>
                res.json()
            ).then(data => {
                console.log(data);
                maketable(data);
                }
            );
        }
    </script>
</body>
</html>